.unity-group-box {
    border-left-color: rgba(0, 0, 0, 0.53);
    border-right-color: rgba(0, 0, 0, 0.53);
    border-top-color: rgba(0, 0, 0, 0.53);
    border-bottom-color: rgba(0, 0, 0, 0.53);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 6px;
    background-color: rgba(0, 0, 0, 0.13);
    padding-bottom: 3px;
}
